


<ul *ngIf="data$ |async as data">
 <table> <div class="list-group lista "  *ngFor="let employee of data">
 <li class="list-group-item"> <b>{{employee.id}}</b>.
   <i>{{employee.name}}</i>
   <b> Mail:</b> {{employee.mail}}
   <button  [routerLink]="'/employee-details/'+employee.id+'/'+employee.name" class="btn btn-primary button float-end" > Details</button>
    <button class="btn btn-danger button float-end "  (click)="remove(employee.id)"> Remove </button>  </li>
 </div>
 </table>
</ul>




