<nav class="navbar navbar-expand-lg bg-primary bg-gradient bg-opacity-85 rounded-3 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Packman </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee-list">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee-create">Form</a>
        </li>
      </ul>
      <span class="navbar-text">

      </span>
    </div>
  </div>
</nav>
<div class="bg-gradient bg-light bg-opacity-95 mt-0 ">





<router-outlet></router-outlet>
</div>






<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">

    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Packman
          </h6>
          <p>
            description of our company
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">TBA!</a>
          </p>
          <p>
            <a href="#!" class="text-reset">TBA! </a>
          </p>
          <p>
            <a href="#!" class="text-reset">TBA!</a>
          </p>
          <p>
            <a href="#!" class="text-reset">TBA!</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://github.com/Nimos7" class="text-reset">Github </a>
          </p>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>  03-414 Warszawa , PL </p>
          <p>
            <i class="fas fa-envelope me-3"></i>  Wileńska 14A

          </p>
          <p><i class="fas fa-phone me-3"></i> +48 514-617-173</p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/Nimos7">Packman</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


